<h1 style="text-align: center;">Cuentahabiente</h1>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-1">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Crear una transferencia
      </button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h3>Ingrese los datos</h3>
          <form action="/cuentahabiente" method="POST" >
            <div class="form-group">
              <input type="text" name="cui" placeholder="CUI del cuentahabiente" class="form-control">
            </div>
            <br>
            <div class="form-group">
              <input type="text" name="mes" placeholder="Mes (opcional)" class="form-control">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Consultar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h3>Datos personales</h3>
          <h4>Nombre</h4>
          <input type="text" name="nombre" placeholder="Nombre del cuentahabiente" class="form-control" value="{{ctahabiente.name}}" disabled>
          <h4>Apellido</h4>
          <input type="text" name="Apellido" placeholder="Apellido del cuentahabiente" class="form-control" value="{{ctahabiente.lastname}}" disabled>
          <h4>CUI</h4>
          <input type="text" name="CUI" placeholder="CUI del cuentahabiente" class="form-control" value="{{ctahabiente.cui}}" disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-11">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Banco</th>
            <th scope="col">Tipo Cuenta</th>
            <th scope="col">Tipo Transaccion</th>
            <th scope="col">Descripcion</th>
          </tr>
        </thead>
        <tbody>
          {{#each transacciones}}
          <tr>
            <th scope="row">{{@index}}</th>
            <td>{{this.fecha_generacion}}</td>
            <td>{{this.name_inst}}</td>
            <td>{{this.tipo_cta}}</td>
            <td>{{this.tipo_transaction}}</td>
            <td>{{this.description}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva transferencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/cuentahabiente/add" method="post" >
          <h5>Ingrese los datos de su cuenta</h5>
          <div class="form-group">
            <input type="text" name="cui_1" placeholder="Ingrese su CUI" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <input type="text" name="institucionBancaria_1" placeholder="Ingrese su institucion bancaria" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <input type="text" name="tipoCuenta_1" placeholder="Ingrese el tipo de cuenta" class="form-control">
          </div>
          <br>
          <h5>Ingrese los datos de la cuneta destino</h5>
          <div class="form-group">
            <input type="text" name="cui_2" placeholder="CUI del cuentahabiente destino" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <input type="text" name="institucionBancaria_2" placeholder="Institucion Bancaria del cuentahabiente destino" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <input type="text" name="tipoCuenta_2" placeholder="Tipo de cuenta del cuentahabiente destino" class="form-control">
          </div>
          <br>
          <h5>Ingrese los datos de la transaccion</h5>
          <div class="form-group">
            <input type="number" name="monto" placeholder="Monto de la transaccion" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <input type="text" name="description" placeholder="Descripcion de la transferencia" class="form-control">
          </div>
          <br>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Crear</button>
        </form>
      </div>
    </div>
  </div>
</div>